.seo-footer {
  background-color: #232323;
  padding: 1rem 0 2rem;
  margin-top: -2rem;
  font-size: 0.9rem;
  text-align: center;
}

.seo-footer h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.project-direct-link {
  color: #aaa;
  text-decoration: none;
}

.project-direct-link:hover {
  color: #fff;
  text-decoration: underline;
}
