---
import { GITHUB_URL, LINKEDIN_URL, KAGGLE_URL, AUTHOR } from "../consts";
import Icon from "../components/Icons.astro";

const today = new Date();
---

<footer>
  <p class="heading-font footer-heading">You can also find me here</p>
  <div class="social-links">
    <a
      href={LINKEDIN_URL}
      class="social-icon"
      target="_blank"
      aria-label="LinkedIn Profile"
    >
      <Icon name="linkedin" />
    </a>
    <a
      href={GITHUB_URL}
      class="social-icon"
      target="_blank"
      aria-label="GitHub Profile"
    >
      <Icon name="github" />
    </a>
    <a
      href={KAGGLE_URL}
      class="social-icon"
      target="_blank"
      aria-label="Kaggle Profile"
    >
      <Icon name="kaggle" />
    </a>
  </div>

  <div class="rss-section">
    <p class="heading-font footer-subheading">Subscribe via RSS</p>
    <div class="rss-links">
      <a
        href="/rss.xml"
        class="rss-link-footer"
        title="Subscribe to all content"
      >
        <Icon name="rss" /> All Content
      </a>
      <a
        href="/blog-rss.xml"
        class="rss-link-footer"
        title="Subscribe to blog posts"
      >
        <Icon name="rss" /> Blog Posts
      </a>
      <a
        href="/projects-rss.xml"
        class="rss-link-footer"
        title="Subscribe to projects"
      >
        <Icon name="rss" /> Projects
      </a>
    </div>
  </div>

  <p>&copy; {today.getFullYear()} Bogdan Ouatu. All rights reserved.</p>
</footer>
