---
import { GITHUB_URL, LINKEDIN_URL, KAGGLE_URL, AUTHOR } from '../consts';

const today = new Date();
---
<footer>
  <h4 class="heading-font">You can also find me here</h4>
  <div class="social-links">
    <a href={LINKEDIN_URL} class="social-icon" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href={GITHUB_URL} class="social-icon" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href={KAGGLE_URL} class="social-icon" target="_blank">
      <i class="fab fa-kaggle"></i>
    </a>
  </div>
  
  <div class="rss-section">
    <h5>Subscribe via RSS</h5>
    <div class="rss-links">
      <a href="/rss.xml" class="rss-link-footer" title="Subscribe to all content">
        <i class="fas fa-rss"></i> All Content
      </a>
      <a href="/blog-rss.xml" class="rss-link-footer" title="Subscribe to blog posts">
        <i class="fas fa-rss"></i> Blog Posts
      </a>
      <a href="/projects-rss.xml" class="rss-link-footer" title="Subscribe to projects">
        <i class="fas fa-rss"></i> Projects
      </a>
    </div>
  </div>
  
  <p>&copy; {today.getFullYear()} Bogdan Ouatu. All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background-color: #232323 !important; /* Force dark background */
    color: #ffffff;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
  }
  .social-icon {
    color: #cccccc;
    font-size: 32px;
    text-decoration: none;
  }
  .social-icon:hover {
    color: #ffffff;
  }
  .rss-section {
    margin: 1.5em 0;
  }
  .rss-section h5 {
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  .rss-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
  }
  .rss-link-footer {
    color: #ff7b00;
    text-decoration: none;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  .rss-link-footer:hover {
    color: #ff9d40;
    text-decoration: underline;
  }
</style>