---
import { site } from "../config/site";
---

<header>
  <nav>
    <div class="nav-brand">
      <a href="/" class="home-link u-site-title">{site.title}</a>
      <span class="tagline u-heading-font">{site.tagline}</span>
      <button class="burger-menu" aria-label="Toggle navigation menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="nav-links">
      <!-- <a href="/#about" class="nav-link" data-section="about">About me</a> -->
      <a href="/blog" class="nav-link">Blog</a>
      <a href="/projects" class="nav-link">Projects</a>
      <a href="/#contact" class="nav-link" data-section="contact">Contact</a>
    </div>
  </nav>
</header>
