/* Global base styles */
body {
  font-size: 1.2rem; /* ~18px, a common modern base */
  line-height: 1.65;
}
p,
li {
  font-size: 1em;
  line-height: inherit;
}

h1 {
  font-size: 2.5em; /* Largest heading */
  margin: 1.5rem 0; /* Consistent vertical spacing */
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2em; /* Slightly smaller than h1 */
  margin: 1.2rem 0; /* Consistent vertical spacing */
  font-weight: 600; /* Slightly lighter weight */
  line-height: 1.3; /* Adjusted for readability */
}

h3 {
  font-size: 1.75em; /* Smaller than h2 */
  margin: 1rem 0; /* Consistent vertical spacing */
  font-weight: 500; /* Lighter weight for hierarchy */
  line-height: 1.4; /* Adjusted for readability */
}

/* Base body styles */
body {
  font-family:
    "Inter",
    "Source Sans Pro",
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
}

/* Typography */
body,
p,
li {
  line-height: 1.6;
}

/* Global Links */
a {
  color: #cccccc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
