:root {
  /* ===== Colors ===== */
  --color-bg: #121212;
  --color-bg-channels: 18, 18, 18;

  --color-surface: #232323;
  --color-surface-channels: 35, 35, 35;

  --color-surface-alt: #1a1a1a;
  --color-surface-alt-channels: 26, 26, 26;

  --color-border: #333;
  --color-border-channels: 51, 51, 51;

  --color-text: #ffffff;
  --color-text-channels: 255, 255, 255;

  --color-muted: #cccccc;
  --color-muted-channels: 204, 204, 204;

  --color-primary: rgb(73, 200, 116);
  --color-primary-channels: 73, 200, 116;

  --color-accent: #ff7b00;
  --color-accent-channels: 255, 123, 0;
  --color-accent-soft: rgba(var(--color-accent-channels), 0.6);

  --color-accent-strong: rgba(138, 43, 226, 1);
  --color-accent-strong-channels: 138, 43, 226;

  /* ===== Typography ===== */
  --font-size-min: 17px;
  --font-size-max: 19.5px;
  --line: 1.65;
  --measure: 65ch;

  /* ===== Layout ===== */
  --radius-base: 12px;
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.3);
  --shadow-inset-glow: inset 0 0 30px
    rgba(var(--color-accent-strong-channels), 0.2);
  --bp-tablet: 48rem; /* 768px */
}

html {
  font-size: clamp(16px, 0.9rem + 0.5vw, 18px);
}
